@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
  margin: 0;
  min-height: 100vh;
  background-image: url('../background.svg'), linear-gradient(to bottom, #000000, #000000);
  background-size: 800px 800px, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: fixed;
  color: rgb(156, 156, 156); /* Added to set default text color */
}

html, #root {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth; /* Enable smooth scrolling */
}

#root {
  position: relative;
}

.fading-mask {
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0) 80%);
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0) 80%);
}

.custom-cursor {
  display: inline-block;
  width: 2px;
  background-color: rgb(156, 156, 156);
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  50.01%, 100% {
    opacity: 0;
  }
}

/* Customize the Typewriter cursor */
.typewriter-cursor {
  /* Remove existing styles */
  background-color: transparent;
  animation: none;
}

/* Block Cursor Style */
.block-cursor {
  display: inline-block;
  width: 10px; /* Adjust width as needed */
  height: 1em;
  background-color: rgb(156, 156, 156);
  animation: block-blink 1s step-start infinite;
}

@keyframes block-blink {
  0%, 50% {
    opacity: 1;
  }
  50.01%, 100% {
    opacity: 0;
  }
}

/* Apply the block cursor to the Typewriter component */
.ReactSimpleTypewriter__cursor {
  display: inline-block;
  width: 1em; /* Match the height of the text */
  height: 1em;
  background-color: rgb(156, 156, 156);
  animation: block-blink 1s step-start infinite;
  margin-left: 2px; /* Adjust spacing as needed */
}