@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
  margin: 0;
  min-height: 100vh;
  color: rgb(156, 156, 156);
}

html, #root {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth; /* Enable smooth scrolling */
}

#root {
  position: relative;
  min-height: 100vh;
  background-color: #000000;
  background-image: url('/1.svg'), linear-gradient(to bottom, #000000, #000000);
  background-size: 800px 800px, cover;
  background-position: center center, center;
  background-repeat: repeat, no-repeat;
  background-attachment: fixed;
}

nav {
  /* Styles for the navigation button */
}

.fading-mask {
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0) 80%);
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0) 80%);
}

.fade-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: 800px 800px, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: fixed;
  transition: opacity 1s ease-in-out;
  z-index: 0;
}

.gradient-text {
  background: linear-gradient(90deg, #9c9c9c, #4a4a4a, #9c9c9c);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-rotate 10s ease-in-out infinite;
}

@keyframes gradient-rotate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.arrow-container {
  position: absolute;
  bottom: 100px; /* Adjust this value to move the arrow further above the bottom */
  left: 50%;
  transform: translateX(-50%);
}

.arrow {
  width: 24px;
  height: 24px;
  stroke: white; /* Change arrow color to white */
  transform: scale(2, 2);
  transform-origin: center;
}

.arrow-shaft {
  animation: drawShaft 2s ease-in-out 1 forwards;
  vector-effect: non-scaling-stroke;
}

.arrow-head {
  animation: drawHead 2s ease-in-out 1 forwards;
  vector-effect: non-scaling-stroke;
}

@keyframes drawShaft {
  0%, 40% {
    stroke-dasharray: 0 24;
    stroke-dashoffset: 0;
  }
  60%, 100% {
    stroke-dasharray: 24 24;
    stroke-dashoffset: 0;
  }
}

@keyframes drawHead {
  0%, 60% {
    stroke-dasharray: 0 24;
    stroke-dashoffset: 0;
  }
  80%, 100% {
    stroke-dasharray: 24 24;
    stroke-dashoffset: 0;
  }
}
